p{
    margin: 0px 0px 0px 0px;
    padding: 5px 20px 15px 0px;
    border: 1px dashed black;
    <div>
        border: 5px sollid  yelow;
        margin: 0px 0px 0px 0px;
        padding: 12px 10px 10px 12px;
    </div>;
}
