div {
    background-color: bisque;
    /*border: 1px solid brown; */
    border-width: 1px;
    border-style: solid;
    border-color: brown;
}

#antraste {
    font-size: large;
    padding: 0px;
    margin: 16px 84px 16px 6px;
}

#nuotrauka  {
    padding: 0,2;
    margin: 14px 26px 14px 6px;
    border: 5px inset rgb(164, 111, 27);
}

#pastraipa {
    background-color: yellow;
    padding: 14px 2px 14px 2px;
    margin: 14px 180px 6px 6px;
    border: 5px dashed rgb(164, 111, 27);
}