.isskirtine-pastraipa
style {
    font-style: 24px rgb(30, 40, 120);
}

.geltonas-taskuotas-remelis{
    /*  border: 3px dotted yellow */
        border-width: 3px;
        border-style: dotted;
        border-color: yellow;
}

#pastraipa1 {
    padding-left: 30px;
}

#pastraipa2 {
    padding-top: 20px;
    padding-bottom: 0px;
    border-bottom: dotted red;
}

#pastraipa3 {
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 15px;
    padding: 10px 17px 10px 17px;
}
