p {
    .juodasr-taskuotas-remelis
    /* border: 1px doted black; */
        border-wdth: 3px;
        border-style: dotted;
        border-color: black;
    

        margin: 10px 100px 10px 10px;
}
